<div class="container">
  <form class="form=line center">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control resizedTextbox" id="username" required>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" class="form-control resizedTextbox" id="password">
    </div>

    <div>
      <a href="../createaccountpage/createaccountpage.component.html" class="create-account">Create Account</a>
    </div>

    <button type="submit" class="btn">Submit</button>
  </form>
</div>
